<header>
    <div className="navbar navbar-dark bg-dark shadow-sm">
        <div className="container d-flex justify-content-between">
            <a href="/" className="navbar-brand d-flex align-items-center">
                <picture>
                    <source
                        srcSet="https://s3-eu-west-1.amazonaws.com/compossibru/assets/compossibru-logo.svg"
                        type="image/svg+xml"
                    />
                    <img
                        src="https://s3-eu-west-1.amazonaws.com/compossibru/assets/compossibru-logo.svg"
                        width="32"
                        height="32"
                        className="img-fluid img-thumbnail mr-2"
                        alt="compossibru"
                    />
                </picture>
                <strong>compossibru</strong>
            </a>
        </div>
    </div>
</header>
